* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Oxygen", sans-serif;
  font-size: 62.5%;
}

body {
  width: 100%;
  background: linear-gradient(135deg, #FAD7A1 0%, #E96D71 100%);
}

.project__details .details--name, .contact h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  margin: 20px 0;
  font-size: 2.4rem;
  font-weight: bold;
  color: #42E2B8;
  background-color: #0F0A0A;
  -webkit-box-shadow: -4px 4px 0px 0px #FFFFFF;
          box-shadow: -4px 4px 0px 0px #FFFFFF;
}

.form__container .form--name, .form__container .form--email, .form__container .form--message {
  display: block;
  width: 100%;
  font-family: "Oxygen", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
}

.project__details .details--content, .opinion .content, .contact p {
  font-size: 1.6rem;
  line-height: 2.5rem;
  font-weight: 400;
}

.header {
  padding: 15px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  height: 45px;
}

.header__menu {
  display: none;
  list-style: none;
}

.header__menu li {
  color: rgba(15, 10, 10, 0.6);
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: "Oxygen", sans-serif;
  font-weight: bold;
  display: inline-block;
  margin: 0 10px;
}

.header__menu .item1 {
  color: #0F0A0A;
}

.header__button {
  padding: 15px;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-family: "Oxygen", sans-serif;
  font-weight: bold;
  border-radius: 25px;
  border: 3px #0F0A0A solid;
  background-color: #42E2B8;
  -webkit-box-shadow: -4px 4px 14px 0px #0000003b;
          box-shadow: -4px 4px 14px 0px #0000003b;
}

.hero {
  margin-top: 50px;
  width: 100%;
  padding: 0 10px;
}

.hero__img {
  display: block;
  margin: 0 auto;
  max-width: 320px;
}

.hero__img img {
  max-width: 290px;
  width: 100%;
}

.hero__details h1 {
  text-transform: uppercase;
  font-size: 5rem;
  font-family: "Oxygen", sans-serif;
  font-weight: bold;
}

.hero__details h2 {
  text-transform: uppercase;
  font-size: 4rem;
  font-family: "Oxygen", sans-serif;
  font-weight: bold;
  margin: 10px 0;
}

.hero__details .details--description {
  font-size: 1.6rem;
}

.hero__details .details--phone {
  margin: 15px 0;
}

.hero__details .details--phone p {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-family: "Oxygen", sans-serif;
  font-weight: bold;
}

.hero__details .details--phone span {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 10px;
  background: url("../images/icons/phone.svg") center/cover no-repeat;
}

.hero__details .details--email p {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: bold;
}

.hero__details .details--email span {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 10px;
  background: url("../images/icons/envelope.svg") center/cover no-repeat;
}

.description {
  margin-top: 60px;
  padding: 10px;
  text-align: center;
}

.description__content, .description h3 {
  font-size: 2.4rem;
  line-height: 3.8rem;
}

.description h3 {
  font-weight: bold;
  margin: 30px 0;
}

.description .arrow {
  display: inline-block;
  width: 70px;
  height: 60px;
  background: url("../images/icons/arrow-down.svg") center/cover no-repeat;
}

.project {
  margin-top: 50px;
  padding: 10px;
}

.project__img {
  max-width: 652px;
  min-width: 300px;
  width: 100%;
}

.project__details .details__repo {
  display: block;
  padding: 10px;
  margin: 20px 0;
  width: 100%;
  text-align: center;
  border: #0F0A0A 2px solid;
  border-radius: 20px;
}

.project__details .details__repo .repo-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  background: url("../images/icons/github.svg") center/cover no-repeat;
}

.project__details .details__repo p {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.5rem;
  font-weight: bold;
}

.project__details .details__btn {
  width: 100%;
  padding: 10px;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: "Oxygen", sans-serif;
  font-weight: bold;
  background-color: #42E2B8;
  border-radius: 20px;
  border: #0F0A0A 2px solid;
  -webkit-box-shadow: -4px 4px 14px 0px rgba(0, 0, 0, 0.3);
          box-shadow: -4px 4px 14px 0px rgba(0, 0, 0, 0.3);
}

.opinion {
  max-width: 800px;
  width: 90%;
  min-height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 30px auto 0 auto;
  padding: 10px;
  border: 2px rgba(255, 255, 255, 0.7) solid;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.4);
}

.opinion .content {
  font-weight: bold;
  margin: 25px 0;
}

.opinion .status {
  font-size: 1.3rem;
  font-weight: bold;
  color: rgba(15, 10, 10, 0.5);
}

.contact {
  margin-top: 40px;
  padding: 15px;
}

.form__container {
  margin-top: 20px;
}

.form__container .form--label {
  position: relative;
  display: inline-block;
  font-size: 1.7rem;
  font-weight: 600;
  margin: 10px 0 10px 10px;
}

.form__container .form--label::before {
  content: '*';
  position: absolute;
  color: red;
  right: -10px;
}

.form__container .form--name, .form__container .form--email, .form__container .form--message {
  color: rgba(15, 10, 10, 0.6);
  border: 1px solid rgba(15, 10, 10, 0.5);
}

.form__container .submit {
  display: block;
  margin: 20px 0;
  text-align: center;
  width: 100%;
  padding: 15px;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: "Oxygen", sans-serif;
  font-weight: bold;
  background-color: #42E2B8;
  border-radius: 20px;
  border: #0F0A0A 2px solid;
  -webkit-box-shadow: -4px 4px 14px 0px rgba(0, 0, 0, 0.3);
          box-shadow: -4px 4px 14px 0px rgba(0, 0, 0, 0.3);
}
/*# sourceMappingURL=styles.css.map */