// Fonts
$mainFont: 'Oxygen', sans-serif;

//Colors
$color-black: #0F0A0A;
$color-primary: #42E2B8;
$color-light: #FFFFFF;
$background-gradient: linear-gradient(135deg, #FAD7A1 0%, #E96D71 100%);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  font-family: $mainFont;
  font-size: 62.5%;
}

body{
  width: 100%;
  background: $background-gradient;
}

%title{
  width: fit-content;
  padding: 5px;
  margin: 20px 0;
  font-size: 2.4rem;
  font-weight: bold;
  color: $color-primary;
  background-color: $color-black;
  box-shadow: -4px 4px 0px 0px #FFFFFF;
}
%input{
  display: block;
  width: 100%;
  font-family: $mainFont;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
}


%content{
  font-size: 1.6rem;
  line-height: 2.5rem;
  font-weight: 400;
}


@mixin wrapper{
  margin: 50px auto 0 auto;
  padding: 10px;
  max-width: 752px;
  min-width: 300px;
  width: 100%;
}

@mixin textTransform($bold, $size) {
  text-transform: uppercase;
  font-size: $size;
  font-family: $mainFont;
  @if $bold {
    font-weight: $bold;
  }
}

@mixin button($padding){
  display: block;
  margin: 20px auto;
  width: 100%;
  min-width: 100px;
  max-width: 40%;
  padding: $padding;
  @include textTransform(bold,1.5rem);
  background-color: $color-primary;
  border-radius: 20px;
  border: $color-black 2px solid;
  box-shadow: -4px 4px 14px 0px get-opacity(#000000, .3);
}

@mixin icon($width, $height){
  display: inline-block;
  width: $width;
  height: $height;
}
%footer__icon{
  @include icon(40px, 40px); 

}

@function get-opacity($color, $opacity){
  @return rgba($color,$opacity)
}


@mixin respond-to($min-Width){
  @media screen and (min-width: $min-Width){
    @content
  }
}




