.contact{
@include wrapper;
max-width: 552px;

   h2{
     @extend %title;
   }

   p{
     @extend %content;
   }
}
.form__container{
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 20px;

    .input-container{
      width: 100%;
      max-width: 500px;
      min-width: 270px;
    }

    .form--label{
      position: relative;
      display: inline-block;
      align-self: flex-start;
      font-size: 1.7rem;
      font-weight: 600;
      margin: 10px 0 10px 10px;

        &::before{
          content: '*';
          position: absolute;
          color: red;
          right: -10px;
        }

    }
    .form--name, .form--email, .form--message{
      color:get-opacity($color-black,.6);
      border: 1px solid get-opacity($color-black,.5);
      @extend %input;
    }

    .submit{
      display: block;
      margin: 20px 0;
      text-align: center;
      @include button(15px); 
    }

}

