include templates/base.pug

doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title ElisaCv
		//- styles
		link(rel="stylesheet", href="./css/styles.css") 
		//- Webfonts
		link(rel="preconnect", href="https://fonts.gstatic.com")
		link(rel="dns-prefetch", href="https://fonts.gstatic.com")
		link(href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap", rel="stylesheet")
	body
		include templates/header.pug
		main 
			include templates/hero.pug
			include templates/presentation.pug
			+project("leonidasesteban-com.png",projectNames[0],projectContent[0])
			+project("marvol.png",projectNames[1],projectContent[1])
