include templates/base.pug

doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title ElisaCv
		//- styles
		link(rel="stylesheet", href="./css/styles.css") 
		//- responsive
		link(rel="stylesheet", href="./css/desktop.css" media="screen and (min-width: 768px)")
		//- Webfonts
		link(rel="preconnect", href="https://fonts.gstatic.com")
		link(rel="dns-prefetch", href="https://fonts.gstatic.com")
		link(href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap", rel="stylesheet")
	body
		include templates/header.pug
		main 
			include templates/hero.pug
			include templates/presentation.pug
			section(class="project project1") 
				+project("leonidasesteban-com.png",projectNames[0],projectContent[0])
			+opinion("leonidas-esteban.png","Elisa ha sido de gran ayuda para acelerar ciertos esfuerzos de desarrollo. Lo que nos hubiera llevado 6 meses solo les llevó 1,5 meses ","LEONIDAS ESTEBAN / COFUNDADOR Y CEO LEONIDASESTEBAN.COM")
			section(class="project project2") 
				+project("marvol.png",projectNames[1],projectContent[1])
			+opinion("sutano.png","Elisa ha superado mis expectativas desde el diseño hasta el desarrollo","JASON LOPEZ / COFUNDADOR Y CEO MARVOL")
			section(class="project project3") 
				+project("netnet.png",projectNames[2],projectContent[2])
			+opinion("mengano.png","Por primera vez en la historia de nuestra empresa, aparecimos en todas las plataformas en las que trabajamos","MARCO CORTEZ / NETNET")
			include templates/contact.pug
			include templates/footer.pug