section(id="contact").contact
  h2 Let's Talk 
  P Si está interesado en trabajar conmigo en su próximo proyecto, no dude en ponerse en contacto conmigo.
  form(action="" id="form").form__container
    .input-container
      label(for="name").form--label Complete Name 
      input(name="name" id="name" type="text" placeholder="Jonathan Alvarez").form--name
    .input-container     
      label(for="email").form--label E-mail
      input(name="email" id="email" type="e-mail" placeholder="jonaalvarez@gmail.com").form--email
    .input-container 
      label(for="message").form--label Write me something
      textarea( name="message" id="message" cols="30" rows="10").form--message 
    button( type="submit").submit Send Message
    a(href="mailto:me@leonidasesteban.com" id="trucazo") jojojoj