footer
	.icons__container 
		.icon-cont
			span.phone  
		.icon-cont
			span.message
		.icon-cont 
			span.instagram
		.icon-cont 
			span.twitter 
	.info__footer 
		p.info--details Made with &#x1F5A4 by Nilson Diaz 
		p.info--details Copyright 2021 - All the rights reserved.