footer
	img.footer__logo(src="./images/no-te-rindas.png", alt="Header Logo")
	.icons__container 
		a(href="#").icon-cont
			span.phone  
		a(href="#").icon-cont
			span.message
		a(href="#").icon-cont 
			span.instagram
		a(href="#").icon-cont 
			span.twitter 
	.info__footer 
		p.info--details Made with &#x1F5A4 by Nilson Diaz 
		p.info--details Copyright 2021 - All the rights reserved.