header.header 
  img.header__logo(src="./images/no-te-rindas.png", alt="Header Logo")
  ul.header__menu 
    li.item1= header_items[0]
    li.item2= header_items[1] 
    li.item3= header_items[2]
  button.header__button Curriculum