section.hero 
	figure.hero__img  
		img(src="./images/elisa.png", alt="Elisa Photo")
	.hero__details
		h1 Hi There!! 
		h2 I'm Elisa
		p.details--description I'm a Frontend Developer that love implement designs which get inspiration and attract the persons!
		.details--phone 
			span
			p #{details[0]}
		.details--email 
			span
			p #{details[1]}