section.description
	p.description__content A lo largo de mi carrera como Frontend, he tenido el privilegio de trabajar en proyectos retadores e increíbles
	h3 Aquí hay algunos que me gustaría compartir.
	span.arrow